        <div class="copyright">
            <img src="assets/DawidKosteckiLogo.png" alt="Dawid Kostecki Logo">
            <p>2026 &copy; DKPT</p>
            <P>Designed By ABZ DIGITAL GROUP</P>
        </div>
        <div class="socials">
            <a href=""><img src="assets/instagram.svg" alt="Dawid Kostecki Logo"></a>
            <a href=""><img src="assets/facebook.svg" alt="Dawid Kostecki Logo"></a>
            <a href=""><img src="assets/x.svg" alt="Dawid Kostecki Logo"></a>
            <a href=""><img src="assets/youtube.svg" alt="Dawid Kostecki Logo"></a>
        </div>
        