        <nav>
            <div>
                <img src="assets/DawidKosteckiLogo.png" alt="Dawid Kostecki Logo">
            </div>
            <div>
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">Programs</a></li>
                    <li><a href="">Contact</a></li>
                </ul>
            </div>
        </nav>