<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="styles/main.css">
</head>
<body>
    <header>
        <nav>
            <div>
                <img src="assets/DawidKosteckiLogo.png" alt="Dawid Kostecki Logo">
            </div>
            <div>
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">Products</a></li>
                    <li><a href="">Contact</a></li>
                </ul>
            </div>
        </nav>
        <video autoplay muted loop playsinline>
            <source src="assets/gym_hero_web_optimized.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </header>
    <main>
        <section class="about">
            <div>
                <img src="assets/DawidPic.svg" alt="">
            </div>
            <div>
                <h1>Dawid Kostecki</h1>
                <p>
                    Hello I’m Dawid, a dedicated Martial Arts Coach and Personal Trainer at Real Fighters, Aberdeen. 
                    Specializing in striking development and fight preparation, I utilize a systematic approach to 
                    transition athletes from "Zero to the Ring." My methodology prioritizes technical discipline 
                    and conditioning over innate ability.
                    <br>
                    My Motto is “Talent is optional. Work isn’t”. I am committed to developing elite, ring-ready 
                    competitors through relentless preparation.
                </p>
            </div>
        </section>
    </main>
    <footer>
        <p>&copy; 2026</p>
    </footer>
</body>
</html>