<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="styles/main.css" />
  </head>
  <body>
    <header>
      <nav>
        <div>
          <img src="assets/DawidKosteckiLogo.png" alt="Dawid Kostecki Logo" />
        </div>
        <div>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#programSection">Programs</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </div>
      </nav>
      <video src="assets/0215.mp4" autoplay muted loop>
        Your browser does not support the video.
      </video>
    </header>
    <main>
      <section class="about">
        <div class="profilePic">
          <img src="assets/DawidPic.svg" alt="" />
        </div>
        <div class="bio">
          <h1>Dawid Kostecki</h1>
          <p>
            Hello I’m Dawid, a dedicated Martial Arts Coach and Personal Trainer
            at Real Fighters, Aberdeen. Specializing in striking development and
            fight preparation, I utilize a systematic approach to transition
            athletes from "Zero to the Ring." My methodology prioritizes
            technical discipline and conditioning over innate ability.
            <br /><br />
            My Motto is “Talent is optional. Work isn’t”. I am committed to
            developing elite, ring-ready competitors through relentless
            preparation.
          </p>
        </div>
      </section>

      <section id="programSection" class="program">
        <div class="programTitle">
          <h1>Programs</h1>
        </div>

        <div class="programCards">
          <div class="card">
            <div>
              <img src="assets/Performance.jpg" alt="" />
            </div>
            <div class="cardTxt">
              <h1>Martial Arts Training <br />Programs</h1>
            </div>
            <a href="/martial-arts"><button>Learn More</button></a>
          </div>

          <div class="card">
            <div>
              <img src="assets/online.jpg" alt="" />
            </div>
            <div class="cardTxt">
              <h1>Premium Online Coaching Programs</h1>
            </div>
            <a href="/online-coaching"><button>Learn More</button></a>
          </div>
        </div>
      </section>
    </main>
    <footer><%- include('../partials/footer') %></footer>
    <script>
      $('a[href*="#"]').click(function () {
        $("html, body").animate(
          {
            // height 60px + 15px for margin
            scrollTop: $($(this).attr("href")).offset().top - 75,
          },
          500,
        );
        return false;
      });
    </script>
  </body>
</html>
