<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="styles/main.css">
</head>
<body>
    <header>
        <nav>
            <div>
                <img src="assets/DawidKosteckiLogo.png" alt="Dawid Kostecki Logo">
            </div>
            <div>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
        </nav>

        
        
        <p class="textMartial">MARTIAL ARTS</p>

    </header>
    <main>
       <section class="program">
            <div class="programTitle">
                <h1></h1>
            </div>
            
            <div class="programCards">
                <div class="card">
                    <a data-dpd-type="widget" data-text="PURCHASE NOW" data-variant="portrait" data-description="Duration - 12 weeks" data-bg-color="212121" data-bg-color-hover="313131" data-text-color="ffffff" data-background-color="ffffff" data-border-color="c7c7c7" data-title-color="be8661" data-price-color="be8661" data-desc-color="4c4c4c" data-lightbox="1" href="https://dawid-kostecki-pt.dpdcart.com/cart/add?product_id=249072&amp;method_id=272039">0,Boxing Training Program</a><script src="https://dawid-kostecki-pt.dpdcart.com/dpd.js"></script>                </div>
                <div class="card">
                    <a data-dpd-type="widget" data-text="PURCHASE NOW" data-variant="portrait" data-description="Duration - 12 weeks" data-bg-color="212121" data-bg-color-hover="313131" data-text-color="ffffff" data-background-color="ffffff" data-border-color="c7c7c7" data-title-color="be8661" data-price-color="be8661" data-desc-color="4c4c4c" data-lightbox="1" href="https://dawid-kostecki-pt.dpdcart.com/cart/add?product_id=249073&amp;method_id=272040">0,K1 / Muay Thai Training Program</a><script src="https://dawid-kostecki-pt.dpdcart.com/dpd.js"></script>
                </div>

                <div class="card">
                    <a data-dpd-type="widget" data-text="PURCHASE NOW" data-variant="portrait" data-description="Duration - 12 weeks" data-bg-color="212121" data-bg-color-hover="313131" data-text-color="ffffff" data-background-color="ffffff" data-border-color="c7c7c7" data-title-color="be8661" data-price-color="be8661" data-desc-color="4c4c4c" data-lightbox="1" href="https://dawid-kostecki-pt.dpdcart.com/cart/add?product_id=249075&amp;method_id=272043">0,BJJ Training Program</a><script src="https://dawid-kostecki-pt.dpdcart.com/dpd.js"></script>
                </div>

                <div class="card">
                    <a data-dpd-type="widget" data-text="PURCHASE NOW" data-variant="portrait" data-description="Duration - 12 weeks" data-bg-color="212121" data-bg-color-hover="313131" data-text-color="ffffff" data-background-color="ffffff" data-border-color="c7c7c7" data-title-color="be8661" data-price-color="be8661" data-desc-color="4c4c4c" data-lightbox="1" href="https://dawid-kostecki-pt.dpdcart.com/cart/add?product_id=249074&amp;method_id=272042">0,MMA Training Program</a><script src="https://dawid-kostecki-pt.dpdcart.com/dpd.js"></script>
                </div>
            </div>
        </section>

    </main>
    <footer>
       <%- include('../partials/footer') %>
    </footer>
</body>
</html>