<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="styles/main.css">
</head>
<body>
    <header>
        <%- include('../partials/nav') %>

        
        
        <p class="textMartial">MARTIAL ARTS</p>

    </header>
    <main>
       <section class="program">
            <div class="programTitle">
                <h1></h1>
            </div>
            
            <div class="programCards">
                <div class="card">
                    <div>
                        <img src="assets/MartialArts.jpg" alt="">
                    </div>
                    <div class="cardTxt">
                        <h1>Boxing Training <br>Program</h1>
                        <p>Duration - 12 Weeks</p>
                        <h1>£39.99</h1>
                    </div>
                    <a href=""><button>Purchase</button></a>
                </div>

                <div class="card">
                    <div>
                        <img src="assets/Performance.jpg" alt="">
                    </div>
                    <div class="cardTxt">
                        <h1>K1 / Muay Thai Training Program</h1>
                        <p>Duration - 12 Weeks</p>
                        <h1>£39.99</h1>
                    </div>
                    <a href=""><button>Purchase</button></a>
                </div>

                <div class="card">
                    <div>
                        <img src="assets/OnlineCoaching.jpg" alt="">
                    </div>
                    <div class="cardTxt">
                        <h1>BJJ Training <br>Program</h1>
                        <p>Duration - 12 Weeks</p>
                        <h1>£39.99</h1>
                    </div>
                    <a href=""><button>Purchase</button></a>
                </div>
            </div>
        </section>
    </main>
    <footer>
       <%- include('../partials/footer') %>
    </footer>
</body>
</html>