<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="styles/main.css">
</head>
<body>
    <header>
        <%- include('../partials/nav') %>
    </header>
    <main>
       <section>
            <div>
                <div class="programPic">
                    <img src="" alt="">
                </div>
                <div class="discription">
                    <h1>Boxing Training Program</h1>
                    <h2>Duration - 12 Weeks</h2>
                    <h1>£39.99</h1>
                </div>
            </div>
       </section>
    </main>
    <footer>
       <%- include('../partials/footer') %>
    </footer>
</body>
</html>