<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="styles/main.css">
</head>
<body>
    <header>
        <%- include('../partials/nav') %>

        
        
        <p class="textOnline">ONLINE COACHING</p>

    </header>
    <main>
       <section class="program">
            <div class="programTitle">
                <h1></h1>
            </div>
            
            <div class="programCards">
                <div class="card">
                    <div>
                        <img src="assets/DawidKosteckiLogoIcon.png" alt="">
                    </div>
                    <div class="cardTxt">
                        <h1>Premium Online <br>Coaching</h1>
                        <p>Duration - 3 Months</p>
                        <h1>£119.00</h1>
                    </div>
                    <a href=""><button>Purchase</button></a>
                </div>

                <div class="card">
                    <div>
                        <img src="assets/DawidKosteckiLogoIcon.png" alt="">
                    </div>
                    <div class="cardTxt">
                        <h1>Premium Online <br>Coaching</h1>
                        <p>Duration - 6 Months</p>
                        <h1>£109.00</h1>
                    </div>
                    <a href=""><button>Purchase</button></a>
                </div>

                <div class="card">
                    <div>
                        <img src="assets/DawidKosteckiLogoIcon.png" alt="">
                    </div>
                    <div class="cardTxt">
                        <h1>Premium Online <br>Coaching</h1>
                        <p>Duration - 12 Months</p>
                        <h1>£99.00</h1>
                    </div>
                    <a href=""><button>Purchase</button></a>
                </div>
            </div>
        </section>
    </main>
    <footer>
       <%- include('../partials/footer') %>
    </footer>
</body>
</html>