<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="styles/main.css">
</head>
<body>
    <header>
        <%- include('../partials/nav') %>

        
        
        <p class="textPerformance">PERFORMANCE</p>

    </header>
    <main>
       <section class="program">
            <div class="programTitle">
                <h1></h1>
            </div>
            
            <div class="programCards">
 
                <div class="card">
                    <!-- <div>
                        <img src="assets/Performance.jpg" alt="">
                    </div>
                    <div class="cardTxt">
                        <h1>Performance Training <br>Program</h1>
                        <p>Duration - 12 Weeks</p>
                        <h1>£39.99</h1>
                    </div>
                    <a href=""><button>Purchase</button></a> -->
                    <a data-dpd-type="widget" data-text="PURCHASE NOW" data-variant="portrait" data-description="Duration - 12 Weeks" data-bg-color="212121" data-bg-color-hover="313131" data-text-color="ffffff" data-background-color="ffffff" data-border-color="c7c7c7" data-title-color="be8661" data-price-color="be8661" data-desc-color="4c4c4c" data-lightbox="1" href="https://dkpt.dpdcart.com/cart/add?product_id=248927&amp;method_id=271882">0,Performance Training Program</a><script src="https://dkpt.dpdcart.com/dpd.js"></script>
                </div>

        </section>
    </main>
    <footer>
       <%- include('../partials/footer') %>
    </footer>
</body>
</html>
