body{
    margin: 0;
    width: 100%;
}
header{
    background-color: #212121;
}
header nav{
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
}
header nav img{
    width: 200px;
    height: 100px;
}
video{
    width: 100%; height: 100%; object-fit: cover;
}